APP_NAME=BASE
APP_VERSION=0.0.8
APP_PORT=3008
USE_PROTOCOL=http
STAGE=development

TYPEORM_CONNECTION=mysql

TYPEORM_HOST=localhost
TYPEORM_DATABASE=base_service
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_PORT=3306
TYPEORM_LOGGING=true

TYPEORM_ENTITIES=src/**/*.entity.ts, src/*.entity.ts
TYPEORM_MIGRATIONS=src/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=src/migrations

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_MAX_TTL=60